---
import BaseLayout from "@layouts/BaseLayout.astro";
import { getCollection, getEntry } from "astro:content";
import { Image } from "astro:assets";
import NarrowContainer from "@containers/NarrowContainer";
import Prose from "@components/Prose.astro";
import WeddingPricing from "@components/WeddingPricing.astro";
import Contact from "@components/Contact.astro";

const { slug } = Astro.params;
const course = await getEntry("services", slug!);
const frontmatter = course!.data;
const { benefits, image } = frontmatter;

export async function getStaticPaths() {
  const services = await getCollection("services");

  return services.map((service) => ({
    params: { slug: service.id },
    props: { service },
  }));
}

const { service } = Astro.props;

console.log(service);
---

<BaseLayout description="test" title={service.data.title}>
  <!-- <NarrowContainer> -->
  <article class="">
    <NarrowContainer>
      <h1 class="my-16 mx-auto text-center">{service.data.title}</h1>
    </NarrowContainer>
    <NarrowContainer>
      <div class="max-w-2xl mx-auto">
        {image && <Image src={image} alt="Wedding services" />}
      </div>
    </NarrowContainer>
    <section class="my-16">
      <NarrowContainer>
        <Prose class="mx-auto">
          <p>
            {service.data.description}
          </p>
        </Prose>
      </NarrowContainer>
    </section>
    {
      benefits && (
        <section class="my-16">
          <NarrowContainer>
            <Prose class="mx-auto">
              <h2>What's included?</h2>
              <ul>
                {benefits &&
                  benefits.map((benefit) => (
                    <li>
                      <p>{benefit}</p>
                    </li>
                  ))}
              </ul>
            </Prose>
          </NarrowContainer>
        </section>
      )
    }
    <section class="my-16">
      <NarrowContainer>
        <Prose class="mx-auto">
          <h2>Pricing Options</h2>
          {
            service.data.pricingOptions &&
              service.data.pricingOptions.map((option) => (
                <p>
                  <strong>{option.title}:</strong> ${option.price}{" "}
                  {option.additionalCost ? option.additionalCost : ""}
                </p>
              ))
          }
        </Prose>
      </NarrowContainer>
    </section>
    <Contact />
  </article>
  <!-- </NarrowContainer> -->
</BaseLayout>
