---
import site from "../data/site.json";
import BaseLayout from "../layouts/BaseLayout.astro";
import Logo from "../assets/images/logos/rtjvm-red.png";

import Event from "../components/Event.astro";
import NarrowContainer from "../containers/NarrowContainer";

import Hero from "../components/Hero.astro";
import Contact from "../components/Contact.astro";

import CardList from "../containers/CardList";
import HandMedical from "@components/icons/HandMedical.astro";
import Section from "@components/Section.astro";
import Profile from "@components/Profile.astro";
import { getCollection } from "astro:content";
interface Props {
  canonicalUrl: URL;
  description: string;
  image: { src: string; alt: string };
  title: string;
}
const image = { src: Logo.src, alt: site.logo.alt };
const title = "Break the Cycle Ministries";

const contactText = "For inquiries, prayer requests, or to speak with our ministry team, please fill out our contact form or use the details below to reach us directly."

const events = await getCollection("events");
const services = await getCollection("services");
---

<BaseLayout description={site.description} {image} {title}>
  <Hero />
  <CardList class="text-white">
    <Section slot="three" color="bg-primary" title="Explore Our Services">
      {services && services.length > 0 &&
        <ul
          role="list"
          class="mx-auto px-8 grid grid-cols-1 gap-8 sm:grid-cols-2 lg:grid-cols-3"
        >
          {services.map(service =>
            (
              <li
                class="col-span-1 divide-y rounded-lg bg-none flex center justify-center"
              >
                <div>
                  <HandMedical />
                  <h3 class="my-8">{service.data.title}</h3>
                  <p>
                    {service.data.excerpt}
                  </p>
                  <a href=`/services/${service.id}`>
                    <button
                      type="button"
                      class="rounded-full my-8 mx-auto bg-primary px-4 py-2.5 text-sm font-semibold text-white shadow-sm hover:bg-indigo-500 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-indigo-600"
                      >Learn more</button
                    >
                  </a>
                </div>
              </li>
            )
          )}
          {/* <li
            class="col-span-1 divide-y rounded-lg bg-none flex center justify-center"
          >
            <div>
              <HandMedical />
              <h3 class="my-8">Weddings</h3>
              <p>
                Here at your ceremony we are a Judgement free ministry. We want to
                give people from all walks of life an experience, not just another
                officiant.
              </p>
              <a href="/services/weddings">
                <button
                  type="button"
                  class="rounded-full my-8 mx-auto bg-primary px-4 py-2.5 text-sm font-semibold text-white shadow-sm hover:bg-indigo-500 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-indigo-600"
                  >Learn more</button
                >
              </a>
            </div>
          </li>
          <li
            class="col-span-1 divide-y rounded-lg bg-none flex center justify-center"
          >
            <div>
              <FaBookBible />
              <h3 class="my-8">Funerals</h3>
              <p>Coming soon</p>
              <button
                type="button"
                disabled
                class="rounded-full my-8 mx-auto bg-gray-400 px-4 py-2.5 text-sm font-semibold text-white shadow-sm focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2"
                >Learn more</button
              >
            </div>
          </li>
          <li
            class="col-span-1 divide-y rounded-lg bg-none flex center justify-center"
          >
            <div>
              <FaCross />
              <h3 class="my-8">Baptisms</h3>
              <p>Coming soon</p>
              <button
                type="button"
                disabled
                class="rounded-full my-8 mx-auto bg-gray-400 px-4 py-2.5 text-sm font-semibold text-white shadow-sm focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2"
                >Learn more</button
              >
            </div>
          </li> */}
        </ul>
      }
    </Section>
    <!-- <section slot="three" class="flex mb-16">
      <div class="my-8">
        <header class="mx-auto mb-16 bg-primary">
          <H2 color="red" class="text-center mx-auto text-white"
            >Explore Our Services</H2
          >
        </header>
        <ul
          role="list"
          class="mx-auto px-8 grid grid-cols-1 gap-8 sm:grid-cols-2 lg:grid-cols-3"
        >
          <li
            class="col-span-1 divide-y rounded-lg bg-none flex center justify-center"
          >
            <div>
              <HandMedical />
              <h3 class="my-8">Weddings</h3>
              <p>
                Here at your ceremony we are a Judgement free ministry. We want
                to give people from all walks of life an experience, not just
                another officiant.
              </p>
              <a href="/services/weddings">
                <button
                  type="button"
                  class="rounded-full my-8 mx-auto bg-primary px-4 py-2.5 text-sm font-semibold text-white shadow-sm hover:bg-indigo-500 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-indigo-600"
                  >Learn more</button
                >
              </a>
            </div>
          </li>
          <li
            class="col-span-1 divide-y rounded-lg bg-none flex center justify-center"
          >
            <div>
              <FaBookBible />
              <h3 class="my-8">Funerals</h3>
              <p>Coming soon</p>
              <button
                type="button"
                disabled
                class="rounded-full my-8 mx-auto bg-primary px-4 py-2.5 text-sm font-semibold text-white shadow-sm hover:bg-indigo-500 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-indigo-600"
                >Learn more</button
              >
            </div>
          </li>
          <li
            class="col-span-1 divide-y rounded-lg bg-none flex center justify-center"
          >
            <div>
              <FaCross />
              <h3 class="my-8">Baptisms</h3>
              <p>Coming soon</p>
              <button
                type="button"
                disabled
                class="rounded-full my-8 mx-auto bg-primary px-4 py-2.5 text-sm font-semibold text-white shadow-sm hover:bg-indigo-500 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-indigo-600"
                >Learn more</button
              >
            </div>
          </li>
        </ul>
      </div>
    </section> -->
    <Section slot="four" title="About Us" color="bg-primary">
      <div class="divide-y">
        <ul
          role="list"
          class="mx-auto px-8 grid grid-cols-1 gap-8 sm:grid-cols-2 lg:grid-cols-3 mb-16"
        >
          <li
            class="col-span-1 divide-y rounded-lg bg-none flex center justify-center"
          >
            <div>
              <h3 class="my-8">Our Founding Vision</h3>
              <p>
                Welcome to Break the Cycle Ministries, a sanctuary born from the
                profound vision of our founder, William Bowen, who envisioned a
                world free from the cycles of despair. His personal journey
                through adversity and triumph has shaped our core mission to
                ignite change and inspire hope in the hearts of many.
              </p>
            </div>
          </li>
          <li
            class="col-span-1 divide-y rounded-lg bg-none flex center justify-center"
          >
            <div>
              <h3 class="my-8">A Message of Hope</h3>
              <p>
                At the heart of our ministry lies a powerful message of hope,
                delivered by William Bowen. His life, marked by struggles with
                abuse, addiction, and loss, serves as a beacon for those seeking
                redemption and transformation. Through his stories and
                teachings, he inspires others to believe in the possibility of a
                renewed life through faith and community support.
              </p>
            </div>
          </li>
          <li
            class="col-span-1 divide-y rounded-lg bg-none flex center justify-center"
          >
            <div>
              <h3 class="my-8">Why We Exist</h3>
              <p>
                Break the Cycle Ministries was established to challenge the
                status quo of despair and offer a pathway to spiritual and
                personal rebirth. We are dedicated to empowering individuals,
                especially the youth, to overcome their challenges by embracing
                the transformative power of God's love and the supportive
                fellowship of our community.
              </p>
            </div>
          </li>
        </ul>

        <Profile color="bg-primary" />
      </div>
    </Section>

    {
      events && events.length > 0 && (
        <Section slot="five" title="Upcoming Events" color="bg-primary">
          <NarrowContainer>
            <div class="divide-y divide-content-2">
              {events.map((event) => (
                <Event {event}>
                  <h3>Youth Empowerment Workshop</h3>
                  <p>
                    A dynamic workshop designed to inspire and empower our youth
                    through interactive discussions and activities.
                  </p>
                </Event>
              ))}
            </div>
          </NarrowContainer>
        </Section>
      )
    }
    <Contact topText={contactText} slot="seven" />
  </CardList>
  <!-- </NarrowContainer> -->
</BaseLayout>
<style>
  h2 {
    @apply text-5xl md:text-6xl font-bold text-center mb-12;
  }
</style>
