---
import site from "../data/site.json";
import BaseLayout from "../layouts/BaseLayout.astro";
import Logo from "../assets/images/logos/rtjvm-red.png";
import Membership from "../components/Membership.astro";
import Event from "../components/Event.astro";
import NarrowContainer from "../containers/NarrowContainer";
import { type CollectionEntry } from "astro:content";
import Testimonials from "../components/Testimonials.astro";
import SocialProof from "../components/SocialProof.astro";
import Hero from "../components/Hero.astro";
import Contact from "../components/Contact.astro";
import Courses from "../components/Courses.astro";
import LatestContent from "../components/LatestContent.astro";
import CardList from "../containers/CardList";
import CTA from "@components/CTA.astro";
interface Props {
  canonicalUrl: URL;
  description: string;
  image: { src: string; alt: string };
  title: string;
  companies: CollectionEntry<"companies">[];
}
const image = { src: Logo.src, alt: site.logo.alt };
const title = "Break the Cycle Ministries";

const events = [
  {
    section: {
      src: "https://breakthecyclesministries.com/wp-content/uploads/2024/04/0-1346ad46-dc49-40c4-b400-0a589ee6d3ab-800x600.jpg",
      alt: "Event 1",
    },
    flip: false,
  },
  {
    section: {
      src: "https://breakthecyclesministries.com/wp-content/uploads/2024/04/0-7f6da751-98b2-47bb-ab6b-4780a499a759-800x600.jpg",
      alt: "Event 1",
    },
    flip: false,
  },
  {
    section: {
      src: "https://breakthecyclesministries.com/wp-content/uploads/2024/04/0-a67f3edd-e335-4072-82e1-99f2825fdd96-800x600.jpg",
      alt: "Event 1",
    },
    flip: false,
  },
];

const heroImage =
  "https://breakthecyclesministries.com/wp-content/uploads/2024/04/0-6779cbdd-d3a5-4660-b9c7-c5319e0c7c3b-1920x1080.jpg";
const heroAlt = "Church";
const heroDescription =
  "Under the steadfast leadership of William Bowen, Break the Cycle Ministries offers a sanctuary for transformation and spiritual empowerment. Our commitment is to guide individuals through their personal adversities, leveraging the profound power of faith to foster healing and growth.";
const supplemental = "Empowering Journeys of Faith";
---

<BaseLayout description={site.description} {image} {title}>
  <div
    class="absolute inset-x-0 -top-40 -z-10 transform-gpu overflow-hidden blur-3xl sm:-top-80"
    aria-hidden="true"
  >
    <div
      class="relative animate-pulse-slow left-[calc(50%-11rem)] aspect-[1155/678] w-[36.125rem] -translate-x-1/2 rotate-[30deg] bg-gradient-to-tr from-accent-2 to-accent-1/40 opacity-30 sm:left-[calc(50%-30rem)] sm:w-[72.1875rem]"
      style="clip-path: polygon(74.1% 44.1%, 100% 61.6%, 97.5% 26.9%, 85.5% 0.1%, 80.7% 2%, 72.5% 32.5%, 60.2% 62.4%, 52.4% 68.1%, 47.5% 58.3%, 45.2% 34.5%, 27.5% 76.7%, 0.1% 64.9%, 17.9% 100%, 27.6% 76.8%, 76.1% 97.7%, 74.1% 44.1%)"
    >
    </div>
  </div>
  <div
    class="absolute inset-x-0 top-[calc(100%-13rem)] -z-10 transform-gpu overflow-hidden blur-3xl sm:top-[calc(100%-30rem)]"
    aria-hidden="true"
  >
    <div
      class="relative animate-pulse-slower left-[calc(50%+3rem)] aspect-[1155/678] w-[36.125rem] -translate-x-1/2 bg-gradient-to-tr from-accent-2 to-accent-1/40 opacity-30 sm:left-[calc(50%+36rem)] sm:w-[72.1875rem]"
      style="clip-path: polygon(74.1% 44.1%, 100% 61.6%, 97.5% 26.9%, 85.5% 0.1%, 80.7% 2%, 72.5% 32.5%, 60.2% 62.4%, 52.4% 68.1%, 47.5% 58.3%, 45.2% 34.5%, 27.5% 76.7%, 0.1% 64.9%, 17.9% 100%, 27.6% 76.8%, 76.1% 97.7%, 74.1% 44.1%)"
    >
    </div>
  </div>
  <CTA
    description={heroDescription}
    supplemental={supplemental}
    src={heroImage}
    alt={title}
    {title}
  />
  <NarrowContainer>
    <CardList class="text-white">
      <Hero />

      <section class="w-full my-16" slot="two">
        <div class="mx-auto max-w-3xl text-center">
          <h2 class="text-lg mb-8">Support Our Mission</h2>
          <p>
            Your generous donation helps us continue our vital work at Break the
            Cycle Ministries, empowering those trapped in cycles of despair.
            Every contribution brings us closer to a world where everyone can
            access the transformative power of faith and community support.
          </p>
          <button
            type="button"
            class="rounded-full my-4 mx-auto bg-primary px-4 py-2.5 text-sm font-semibold text-white shadow-sm hover:bg-indigo-500 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-indigo-600"
            >Donate Now</button
          >
        </div>
      </section>
      <section slot="three">
        <ul
          role="list"
          class="mx-auto px-8 my-8 md:my-16 grid grid-cols-1 gap-6 sm:grid-cols-2 lg:grid-cols-3"
        >
          <li
            class="col-span-1 divide-y rounded-lg bg-none flex center justify-center"
          >
            <div>
              <h3 class="my-8">Our Founding Vision</h3>
              <p>
                Welcome to Break the Cycle Ministries, a sanctuary born from the
                profound vision of our founder, William Bowen, who envisioned a
                world free from the cycles of despair. His personal journey
                through adversity and triumph has shaped our core mission to
                ignite change and inspire hope in the hearts of many.
              </p>
            </div>
          </li>
          <li
            class="col-span-1 divide-y rounded-lg bg-none flex center justify-center"
          >
            <div>
              <h3 class="my-8">A Message of Hope</h3>
              <p>
                At the heart of our ministry lies a powerful message of hope,
                delivered by William Bowen. His life, marked by struggles with
                abuse, addiction, and loss, serves as a beacon for those seeking
                redemption and transformation. Through his stories and
                teachings, he inspires others to believe in the possibility of a
                renewed life through faith and community support.
              </p>
            </div>
          </li>
          <li
            class="col-span-1 divide-y rounded-lg bg-none flex center justify-center"
          >
            <div>
              <h3 class="my-8">Why We Exist</h3>
              <p>
                Break the Cycle Ministries was established to challenge the
                status quo of despair and offer a pathway to spiritual and
                personal rebirth. We are dedicated to empowering individuals,
                especially the youth, to overcome their challenges by embracing
                the transformative power of God’s love and the supportive
                fellowship of our community.
              </p>
            </div>
          </li>
        </ul>
      </section>
      <section slot="four">
        <h2>Explore Our Services</h2>
        <ul
          role="list"
          class="mx-auto px-8 my-8 md:my-16 grid grid-cols-1 gap-6 sm:grid-cols-2 lg:grid-cols-3"
        >
          <li
            class="col-span-1 divide-y rounded-lg bg-none flex center justify-center"
          >
            <div>
              <h3 class="my-8">Youth Guidance Programs</h3>
              <p>
                Our Youth Guidance Programs focus on mentoring young
                individuals, providing them with spiritual tools and wisdom to
                navigate life’s challenges.
              </p>
            </div>
          </li>
          <li
            class="col-span-1 divide-y rounded-lg bg-none flex center justify-center"
          >
            <div>
              <h3 class="my-8">Spiritual Renewal Workshops</h3>
              <p>
                Join our workshops designed to foster spiritual growth and
                personal transformation, suitable for all who seek truth and
                deeper faith.
              </p>
            </div>
          </li>
          <li
            class="col-span-1 divide-y rounded-lg bg-none flex center justify-center"
          >
            <div>
              <h3 class="my-8">Community Outreach Initiatives</h3>
              <p>
                We extend our hands to the community through various outreach
                initiatives, aiming to break the cycles of despair and uplift
                the spirits of many.
              </p>
            </div>
          </li>
        </ul>
      </section>
      <section slot="five">
        <h2>Upcoming Events</h2>
        {
          events.map((event) => (
            <Event
              flip={event.flip}
              section={event.section}
              title={"Youth Empowerment Workshop"}
              price={"Free"}
              date={"October 15, 2023"}
              description={
                "A dynamic workshop designed to inspire and empower our youth through interactive discussions and activities."
              }
            >
              <h3>Youth Empowerment Workshop</h3>
              <p>
                A dynamic workshop designed to inspire and empower our youth
                through interactive discussions and activities.
              </p>
            </Event>
          ))
        }
      </section>
      <SocialProof slot="six" />
      <!-- <LatestContent slot="two" />
      <Courses slot="three" />
      <Membership slot="four" />
      <SocialProof slot="five" />
      <Testimonials slot="six" /> -->
      <Contact slot="seven" />
    </CardList>
  </NarrowContainer>
</BaseLayout>
<style>
  h2 {
    @apply text-5xl md:text-6xl font-bold text-center mb-12;
  }
</style>
